[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-shorts = "*"
rules = "*"
django-livereload-server = "*"
django-filter = "*"
django-ckeditor = "*"
model-bakery = "*"
django-pagedown = "*"
django-json-ld = "*"

[dev-packages]

[requires]
python_version = "3.9"
