{% extends 'base.html' %}
{% load render_json_ld from json_ld %}
{% block metatags %}
<meta name="description" content="{{site_settings.description}}">
<link rel="canonical" href="{{site_settings.url}}">
{% comment %}
<meta name="robots" content="noindex, nofollow"> {% endcomment %}
<meta name="robots" content="index, follow">
{% endblock metatags %}
{% block title %}
Home
{% endblock title %}


{% block content %}
{% render_json_ld sd %}
<!-- Begin Featured
	================================================== -->
{% include 'core/includes/header.html' %}
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>
    <div class="card-columns listfeaturedtag">

        {% for post in featured %}
        <!-- begin post -->
        <div class="card">
            <div class="row">

                <div class="col-md-5 wrapthumbnail">
                    {% if post.image %}
                    <a href="{{post.get_absolute_url}}">
                        <div class="thumbnail" style="background-image:url({{post.image.url}}); object-fit:cover;">
                        </div>
                    </a>
                    {% endif %}
                </div>
                <div class="col-md-7">
                    <div class="card-block">
                        <h2 class="card-title"><a href="{{post.get_absolute_url}}">{{post.title}}</a></h2>
                        <h4 class="card-text">{{post.body|striptags|truncatewords:10}}</h4>
                        <div class="metafooter">
                            <div class="wrapfooter">
                                {% comment %} <span class="meta-footer-thumb">
                                    <a href="author.html"><img class="author-thumb"
                                            src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x"
                                            alt="Sal"></a>
                                </span> {% endcomment %}
                                <span class="author-meta">
                                    <span class="post-name"><span>{{post.author.get_full_name|upper}}</span>
                                    </span><br />
                                    <span class="post-date">{{post.publish|date:"d M Y"}}</span>
                                    {% comment %} <span class="dot"></span><span class="post-read">6 min
                                        read</span>
                                    {% endcomment %}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end post -->
        {% empty %}
        <div class="card">
            <div class="row">
                <div class="col-md-8 m-auto ">
                    <div class="card-block">
                        <h2 class="card-text">No Featured Posts</h2>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</section>
<!-- End Featured
	================================================== -->


<!-- Begin section List Posts
	================================================== -->
<section class="recent-posts">
    <!-- start title section -->
    <div class="section-title">
        <h2><span>All Stories</span></h2>
    </div>
    <!--  end title section -->

    <!--  start row -->
    <div class="row">
        {% for post in post_list %}
        <div class="col-lg-4 col-md-3 col-sm-12">
            <div class=" listrecent mb-5">
                <!-- begin post -->
                <div class="card">
                    {% if post.image %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <img class="card-img-top embed-responsive-item" src="{{post.image.url}}" alt="">
                    </div>
                    {% endif %}
                    <div class="card-block">
                        <h2 class="card-title"><a href="{{post.get_absolute_url}}">{{post.title}}</h2>
                        <div class="metafooter">
                            <div class="wrapfooter">
                                <span class="author-meta">
                                    <span class="post-name">
                                        <span>{{post.author.get_full_name}}</span>
                                    </span><br />
                                    <span class="post-date">{{post.publish|date:"d M Y"}}</span>
                                    {% comment %} <span class="dot"></span><span class="post-read">6 min read</span>
                                    {% endcomment %}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- end row -->
</section>
<!-- End section List Posts
	================================================== -->

{% endblock content %}